<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username" class="form-control" required>
      <div *ngIf="submitted && loginForm.controls.username.errors" class="text-danger">
        Username is required.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" class="form-control" required>
      <div *ngIf="submitted && loginForm.controls.password.errors" class="text-danger">
        Password is required.
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
    <div *ngIf="loginError" class="alert alert-danger mt-3">Wrong username or password.</div>
    <div *ngIf="loginSuccess" class="alert alert-success mt-3"><strong>Logged in Successfully!</strong></div>
  </form>
  <div class="register-button mt-3">
    <button class="btn btn-secondary btn-block" routerLink="/register">Register</button>
  </div>
</div>
